@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

body{
	width: 100%;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: scroll;

}

header{
	position: relative;
	width: 90%;
	height: 90%;
	padding-top: 40px;
	background: #FFFFFF;
	border-radius: 20px;
	/* overflow: hidden; */
}

header h1{
	font-size: 24pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #6B6B6B;

}

header h2{
	font-size: 24pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #6B6B6B;
	padding-top: 250px;
}



header p{
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: black;
	padding-top: 20px;
}  


header .bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border-radius: 20px;
	z-index: -1;
}

header nav{
	width: 100%;
	height: 30%;
	background: #FFFFFF;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style-type: none;
}

header nav li{
	padding-left: 15px
}

header nav li a{
	text-decoration: none;
	color: #3D8637;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	transition: all 0.3s ease-in-out;
}

header nav li a:hover{
	color: #90C70C;
	font-size: 28px;
}

header nav li a:active{
	color: #90C70C;
	font-size: 28px;
}

header nav .brand{
	width: 370px; 
}


header .main-container {
	margin: 20px;
	display: flex;
	justify-content: flex-start;
}


header .main-container .dish-box{
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: #6B6B6B;
	flex: 50px;
}  


header .main-container .dish-box h3{
	font-size: 16pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #8B5253;
	padding-top: 30px;
	text-align: left;
} 

header .main-container .dish-box p a{
	font-size: 12pt;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #435AD3;
	padding-top: 20px;
	text-align: left;
} 

header .main-container .dish-box p{
	font-size: 16px;
	padding-top: 5px;
	overflow-wrap: break-word;
	text-align: left;
	transition: all 0.3 ease-in-out;
	color: #6B6B6B;
} 

header .main-container .dish-box button{
	width: 165px;
	padding: 8px 10px;
	border-radius: 15px; 
	margin-top: 30px;
	margin-left: 100px;
	border: none;
	background: #DE8346;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 3px 5px 8px gray;
	transition: all 0.3 ease-in-out;
	cursor: pointer;
	margin-bottom: 110px;
} 

header .main-container .dish-box button:hover{
	color: #FFFFFF;
	background: #C75509;
	font-weight: bold;
} 


header .main-container .gallery{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 20;
	padding-right: 20px;
	padding-bottom: 80px;
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #6B6B6B;
	display: block;
    overflow-x: auto;
    white-space: nowrap;
} 

header .main-container .gallery img{
	height: fit-content;
	width: fit-content;
	padding-left: 20px;
	padding-left: 20px;
	cursor: pointer;
	transition: all 0.3 ease-in-out;
	padding-top: 40px;
} 

header .main-container .gallery img:hover{
  	opacity: 0.3;
  	text-align: center;
	color: #525050
} 

header .main-container .dish-box{
	position: relative;
	width: 50%;
	height: 100%;
	align-content: center;

} 

header .main-container .dish-box img{
	max-width:100%;
} 

@media only screen and (max-width: 1000px) {
	header nav{
		width: 100%;
		height: 30%;
		background: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style-type: none;
	}
	
	header nav li{
		padding-left: 15px
	}
	
	header nav li a{
		text-decoration: none;
		color: #3D8637;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		transition: all 0.3s ease-in-out;
	}

	header nav .brand {
		width: 200px;
	}
}
 
